{% extends "base.html" %}

{% block content %}
    


<div id="suggestion-container" class="suggestion-box" onclick="handleFirstClick()">
  <div id="suggestion-display" class="suggestion-text">
    tap to
    <br>generate
  </div>
</div>


<script>
  function handleFirstClick() {
    fetch("{{ url_for('firstnew') }}", { method: "POST" })
      .then(response => {
        if (response.redirected) {
            // Handle redirection (e.g., to /oneword)
            window.location.href = response.url;
        }
    })
    .catch(error => console.error("Error during first click", error));
  }
</script>

  {% endblock %}
